<form>
  <div class="form-group form-inline">
    Search by Name: <input class="form-control ml-2" type="text" [formControl]="filter" />
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users index as i">
    <th scope="row">
      {{user.id}}
    </th>
    <td>
      <a href="#?{{user.id}}" (click)="details(user.id)">
        <ngb-highlight [result]="user.name" [term]="filter.value"></ngb-highlight>
      </a>
    </td>
    <td>
      {{user.username}}
    </td>
    <td>
      {{user.email}}
    </td>
  </tr>
  </tbody>
</table>
