<form>
  <div class="form-group form-inline">
    Search by Name: <input class="form-control ml-2" type="text" [formControl]="filter" />
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let users of user$ | async; index as i">
    <th scope="row">
      {{users.id}}
    </th>
    <td>
      <ngb-highlight [result]="users.name" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
      {{users.username}}
    </td>
    <td>
      {{users.email}}
    </td>
  </tr>
  </tbody>
</table>
